@font-face {
    font-family: CabinSketch-Regular;
    src: url(/homepage/font/CabinSketch-Regular.ttf);
}

@font-face {
    font-family: NotoSansJP-Thin;
    src: url(/homepage/font/NotoSansJP-Thin.otf);
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
    font-family: NotoSansJP-Thin;
    background:#f0ebeb;
}

.wrap {
    margin: 0 auto;
    padding: 30px 0 30px 0;
    max-width: 1080px;
}

h1, h2 {
    font-family: CabinSketch-Regular;
}

h1 {
    font-size: 50px;
    margin: 0 0 30px 0;
    text-align: center;
}

h2 {
    width: 60%;
    margin: 70px auto;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

p {
    margin: 0;
    text-align: center;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.main-image {
    max-width: 100%;
    text-align: center;
    height: auto;
    margin: 10px 0px 15px 0px;
}

.contents {
    max-width: 100%;
    height: auto;
}

.contents-illustration {
    text-align: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.contents-illustration-icon {
    position: relative;
    display: inline-block;
    margin: 10px 30px 10px 30px;
    max-width: 200px;
    height: 200px;
    
}

.contents-illustration-icon img {
    width: 100%;
    vertical-align: top;
    border-radius: 50%;
}

.contents-illustration-icon p {
    margin: 10px 0 15px 0;
}

.contents-illustration-icon:hover {
    filter: brightness(80%);
}

.contents-general {
    max-width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 15px;
}


footer {
    margin: 70px 0 0 0;
    text-align: center;
    font-size: 0.85em;
    display: block;

}

@media screen and (max-width:480px){

    body {
        font-size: 12px;	/*文字サイズ*/
        line-height: 1.5;	/*行間*/
    }

}